Package: libneardal-dev
Source: libneardal
Version: 0.14-1
Architecture: armhf
Maintainer: Donatien Garnier <donatien.garnier@appnearme.com>
Installed-Size: 281
Depends: libneardal0 (= 0.14-1)
Section: libdevel
Priority: extra
Homepage: https://github.com/connectivity/neardal
Description: C APIs for Neard NFC daemon
 Provides a simple C APIs to exchange datas with our NFC daemon (Neard) present on the system.
